@import "tailwindcss";
@source "../index.html";

@theme {
  --color-brand-50: #fdf3f3;
  --color-brand-100: #fbe3e4;
  --color-brand-400: #a13a44;
  --color-brand-600: #65101a;
  --color-brand-700: #4d0c14;
  --color-brand-900: #300810;

  --color-gold-400: #c9a24b;
  --color-gold-500: #b5872f;

  --font-display: "Fraunces", serif;
  --font-body: "Inter", sans-serif;
}
